@charset "utf-8";

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 300;
  src: local('※'),
  url('../font/SpoqaHanSansNeo-Thin.woff') format('woff'),
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 400;
  src: local('※'),
  url('../font/SpoqaHanSansNeo-Regular.woff') format('woff'),
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 500;
  src: local('※'),
  url('../font/SpoqaHanSansNeo-Medium.woff') format('woff'),
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 700;
  src: local('※'),
  url('../font/SpoqaHanSansNeo-Bold.woff') format('woff'),
}


/* @font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 300;
  src: local('※'),
      url('../font/SpoqaHanSansNeo-Thin.otf') format('opentype'),
      url('../font/SpoqaHanSansNeo-Thin.ttf') format('truetype'),
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
        url('../font/SpoqaHanSansNeo-Regular.otf') format('opentype'),
        url('../font/SpoqaHanSansNeo-Regular.ttf') format('truetype'),
  }

  @font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: bold;
    font-weight: 500;
    src: local('※'),
        url('../font/SpoqaHanSansNeo-Bold.otf') format('opentype'),
        url('../font/SpoqaHanSansNeo-Bold.ttf') format('truetype'),
  } */
